.exhibitions-main h1 {
  font-size: var(--m);
  text-transform: uppercase;
  text-align: center;
}

.info-container {
  border-top: 1px solid var(--black);
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.info-container p {
  font-size: var(--xs);
  padding: 0.5rem;
}

.reverse {
  flex-direction: column-reverse;
}

.h2-short,
.h2-long {
  background-color: var(--black);
  color: var(--green);
  display: inline-block;
  padding: 0.5rem;
  font-size: var(--s);
  font-weight: var(--med);
  box-shadow: var(--drop-shadow);
  position: absolute;
  top: 100px;
  z-index: 100;
}

.h2-long {
  font-size: 1.8rem;
}

.skeletons-img {
  filter: saturate(50%);
}

.cosmos-img,
.skeletons-img,
.anatomy-img,
.robot-img,
.eco-img {
  object-fit: cover;
  width: 100%;
  box-shadow: var(--img-shadow);
}

.info-eco {
  padding-bottom: 2rem;
}
