.exhibitions-main h1 {
  font-size: var(--xl);
  text-transform: uppercase;
  text-align: center;
}

.info-container {
  border-top: 1px solid var(--black);
  display: flex;
  padding: 5rem;
  gap: 3rem;
}

.info-container p {
  font-size: var(--xs);
  font-weight: var(--med);
}

.reverse {
  flex-direction: row-reverse;
}

.info-container h2 {
  background-color: var(--black);
  color: var(--green);
  display: inline-block;
  padding: 1rem;
  font-size: var(--m);
  font-weight: var(--med);
  box-shadow: var(--drop-shadow);
  margin-top: 0;
}

.cosmos-img {
  width: 520px;
}

.skeletons-img {
  width: 640px;
  filter: saturate(50%);
}

.anatomy-img {
  width: 499px;
}

.robot-img {
  width: 490px;
}

.eco-img {
  width: 600px;
}

.cosmos-img,
.skeletons-img,
.anatomy-img,
.robot-img,
.eco-img {
  object-fit: cover;
  height: 100%;
}

.info-eco {
  padding-bottom: 2rem;
}
