footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.socials-container {
  background-color: var(--white);
  border-top: 3px solid var(--black);
  border-bottom: 3px solid var(--black);
  padding: 1.5rem;
}

.socials {
  gap: 5rem;
}

.socials a {
  background-color: var(--black);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials i {
  font-size: var(--l);
}

.socials a:hover {
  border: 3px solid var(--black);
  background-color: var(--white);
}

.socials a:hover * {
  color: var(--black);
}

.head {
  color: var(--green);
  text-align: center;
  font-size: var(--m);
  font-weight: var(--bolder);
  text-transform: uppercase;
}

.location-hours {
  display: block;
  padding-top: 2.5rem;
}

.footer-info ul {
  flex-direction: column;
  gap: 7rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
}

footer p,
footer a,
footer td {
  font-size: var(--mobile-m);
  font-weight: var(--bolder);
}

footer p {
  text-align: center;
}

footer td {
  padding: 3rem;
}

.last-td {
  text-align: center;
}

.location-hours > div {
  padding: 1rem 4rem;
}

table {
  margin: auto;
  margin-top: -17px;
}
