.home-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/mammoth-1257288_1920\ cropped.jpg);
  margin: 0;
  height: 1050px;
  background-repeat: no-repeat;
}

.home-main h1 {
  color: var(--white);
  margin: 0;
  font-size: var(--m);
  font-weight: var(--med);
  width: 75%;
  text-shadow: var(--text-shadow);
}

.banner-content {
  transform: translateY(310%);
  padding-left: 5rem;
}
