.home-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/scientific-2040795_1280.jpg);
  margin: 0;
  height: 1050px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home-main h1 {
  color: var(--white);
  font-size: var(--m);
  font-weight: var(--med);
  width: 100%;
  text-shadow: var(--text-shadow);
}

.home-main button {
  width: 260px;
  height: 80px;
  background-color: var(--green);
  color: var(--black);
  box-shadow: 13px 13px var(--black);
  border: none;
  margin-left: 400px;
}

.home-main a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: var(--s);
  font-weight: var(--bolder);
  font-family: var(--font);
}

.banner-content {
  padding-left: 3rem;
  position: absolute;
  top: 57%;
}

.home-info {
  margin: 3rem 3rem;
  max-width: 1299px;
  border: 1px solid var(--black);
  box-shadow: var(--drop-shadow);
  font-size: var(--s);
  padding: 0 1.5rem;
}

.home-info p {
  margin: 2rem 0rem;
}

.home-main h2 {
  font-size: var(--l);
  font-weight: var(--med);
  text-transform: uppercase;
  text-align: center;
  text-shadow: var(--text-shadow);
  margin: 3rem 0rem;
}

.event-section {
  background-color: var(--black);
  color: var(--white);
  padding: 2rem 2rem;
}

.event-section h3 {
  text-align: center;
  font-size: var(--m);
}

.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.events {
  border: 5px solid var(--green);
  max-width: 792px;
  height: 1067px;
}

.events img {
  width: 781px;
  height: 500px;
}

.event-title {
  font-size: 2.7rem;
  margin: 1rem 0rem;
  text-align: center;
  text-decoration: underline;
}

.event-info {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.explore {
  background-color: var(--black);
  color: var(--white);
  margin: auto;
  margin-bottom: 4rem;
  max-width: 100%;
}

.vr-img,
.teacher-img,
.hall-img {
  height: 100%;
  width: 100%;
}

.vr-img,
.teacher-img,
.hall-img,
.events img {
  object-fit: cover;
}

.explore-container {
  display: flex;
  flex-direction: column;
}

.explore h4 {
  color: var(--green);
  text-transform: uppercase;
  font-size: var(--m);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.explore-info {
  margin: 1rem 2rem;
  margin-bottom: 0;
}

.explore p {
  font-size: var(--s);
}

.explore a {
  text-transform: none;
  font-weight: var(--regular);
  text-decoration: underline;
  font-size: var(--s);
}

.explore a:hover {
  color: var(--green);
}
