@media screen and (min-width: 30.07em) {
/* Home page */
.home-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/mammoth-1257288_1920\ cropped.jpg);
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Contribute page */
  .contribute-banner {
    height: 500px;
  }

  /* Visit page */
  .visit-img {
    height: 500px;
  }

  .visit-info p {
    font-size: var(--xxs);
  }
  .visit-info {
    top: 514px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 450px;
  }
  .form-container {
    text-align: center;
    display: block;
  }

  .contact-form {
    display: inline-block;
    text-align: left;
  }

  .visit-link {
    font-size: var(--xxs);
    padding: 0.5rem 1rem;
  }

  .visit-link-div {
    margin-top: 1rem;
  }

  .info-section {
    margin: 5rem 0.5rem;
  }
}

@media screen and (min-width: 48.1em) {
  /* Footer*/
  .last {
    margin-bottom: 4rem;
  }

  /* Home page */
  .home-main h1 {
    font-size: var(--s);
  }

  .home-main button {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .banner-content {
    position: absolute;
    padding: 0rem 1rem;
    bottom: 0;
  }

  .events-container {
    gap: 2rem;
  }

  .events {
    border: 2px solid var(--green);
    max-width: 420px;
    height: 672px;
  }

  .events img {
    width: 416px;
    height: 278px;
  }

  .event-info {
    font-size: 1.2rem;
  }

  .explore {
    max-width: 90%;
  }

  .explore a {
    color: var(--white);
  }

  .explore a:hover {
    color: var(--green);
  }

  /* Exhibitions page */
  .h2-short,
  .h2-long {
    font-size: var(--m);
    top: 20%;
  }

  /* Contribute page */
  .contribute-banner {
    height: 700px;
  }

  .contribute-main h1 {
    font-size: var(--m);
    top: 350px;
  }

  .contribute-main h3 {
    font-size: var(--s);
  }

  .contribute-main p {
    margin: 1rem 2rem;
  }

  .dono-form {
    text-align: left;
  }

  .dontaion-container {
    display: flex;
    justify-content: center;
  }

  .dono-form input {
    width: 400px;
  }

  .dono-form input[type="submit"] {
    margin-right: auto;
    margin-left: auto;
  }

  /* Visit page */
  .visit-img {
    height: 700px;
  }

  .visit-main h1 {
    font-size: var(--m);
  }

  .visit-info p {
    font-size: var(--ss);
  }
  .visit-info {
    top: 685px;
  }
}

@media screen and (min-width: 64em) {
  /* Header */
  header {
    justify-content: space-between;
  }

  nav {
    display: block;
    position: static;
    min-height: 100%;
    width: 100%;
  }
  .menu-icon {
    display: none;
  }

  header ul {
    flex-direction: row;
    justify-content: end;
    font-size: var(--xs);
    margin-bottom: -20px;
  }

  header li {
    padding: 0rem 2rem;
    border-bottom: none;
  }

  .extra-links {
    display: none;
  }

  header .logo {
    gap: 1rem;
  }

  .name-logo {
    width: 80%;
  }
  .icon-logo {
    width: 30%;
  }

  .search-box,
  .search-box i {
    color: var(--green);
    font-size: var(--xs);
  }

  .search-box {
    display: block;
  }

  details,
  summary {
    position: absolute;
  }

  details {
    right: 70px;
    top: 15px;
  }

  summary {
    right: -55px;
  }

  #desktop-search {
    border: 2px solid var(--green);
    background-color: var(--black);
    color: var(--white);
    height: 30px;
    font-size: var(--xs);
  }

  /* Footer */
  .socials-container {
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
  }

  .socials li {
    margin: 0 2rem;
  }

  .socials a {
    width: 60px;
    height: 60px;
  }

  .socials i {
    font-size: var(--s);
  }

  .head {
    font-size: var(--xs);
  }

  .footer-info ul {
    flex-direction: row;
    padding: 0 1rem;
  }

  .ul-links li {
    margin: 0 2.5rem;
  }

  footer p,
  footer a,
  footer td {
    font-size: 1.2rem;
  }

  .location-hours {
    display: flex;
    justify-content: center;
  }

  footer td {
    padding: 1rem;
  }

  /* Home page */
  .home-banner {
    height: 800px;
  }

  .home-main h1 {
    font-size: var(--m);
  }

  .home-main button {
    width: 185px;
    height: 60px;
  }

  .home-main button:hover {
    background-color: var(--white);
  }

  .home-main a {
    font-size: var(--ss);
  }

  .banner-content {
    bottom: 40px;
  }

  .home-info {
    margin-right: auto;
    margin-left: auto;
    padding: 0 1.5rem;
  }

  .events-container {
    flex-direction: row;
  }

  .explore-container {
    flex-direction: row;
  }

  .explore-info a {
    font-size: var(--xs);
  }

  /* Exhibitions page */
  .info-container {
    flex-direction: row;
  }

  .info-container p {
    padding: 0.5rem 1.5rem;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .h2-short,
  .h2-long {
    position: static;
    margin: 1.5rem;
  }

  .cosmos-img,
  .skeletons-img,
  .anatomy-img,
  .robot-img,
  .eco-img {
    height: 100%;
  }

  .cosmos-img, .anatomy-img,
  .robot-img, .eco-img {
    width: 500px;
  }

  .exhibitions-main h1 {
    font-size: var(--l);
  }

  /* Contribute page */
  .contribute-banner {
    height: 950px;
  }

  .contribute-main h1 {
    font-size: var(--l);
    top: 350px;
  }

  .contribute-main h2 {
    font-size: var(--s);
  }

  .contribute-main h3 {
    font-size: 1.9rem;
    text-align: left;
    margin-left: 2.5rem;
  }

  .contribute-main p {
    font-size: var(--ss);
    margin: 1rem 0.5rem;
  }

  .donation {
    display: flex;
    flex-direction: row-reverse;
    margin: 2rem;
    gap: 2rem;
  }

  .dono-form {
    padding: 0 0.5rem;
  }

  .dono-form input[type="submit"]:hover {
    background-color: var(--white);
    cursor: pointer;
  }

  .volunteer {
    display: flex;
    flex-direction: row-reverse;
    margin: 2rem;
  }

  .volunteer-link {
    color: var(--white);
  }

  .volunteer-link:hover {
    color: var(--green);
  }

  .internships {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin: 2rem;
  }

  .intern-img {
    margin: 2rem auto;
    margin-bottom: 4rem;
    width: 800px;
  }

  .intern-container {
    position: absolute;
    top: 550px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3rem;
  }

  .intern-link {
    box-shadow: var(--drop-shadow);
    border: 2px solid var(--black);
  }

  .intern-link:hover {
    background-color: var(--white);
  }

  /* Visit page */
  .visit-main h1 {
    font-size: var(--l);
    margin-bottom: 2rem;
  }

  .visit-info p {
    text-align: center;
  }

  .visit-main h1,
  .visit-info {
    background-color: transparent;
    position: static;
  }

  .visit-main h1,
  .visit-info p {
    color: var(--black);
    text-shadow: none;
  }

  .visit-img {
    display: none;
  }

  .visit-img-desktop {
    display: block;
    width: 514px;
    margin-top: 0.5rem;
  }

  .contact-container {
    display: flex;
    margin: 2rem 0;
    justify-content: center;
  }

  .contact-container > div {
    padding: 0 2rem;
  }

  .visit-main h2 {
    font-size: var(--s);
    margin-top: 0.5rem;
  }

  .visit-main form {
    padding: 0;
    padding-left: 0.5rem;
  }

  .contact-form input[type="submit"]:hover {
    color: var(--white);
  }

  .visit-link-div {
    text-align: center;
    margin: 2.2rem 0;
  }

  .visit-link:hover {
    color: var(--green);
  }

  .info-section {
    border: 1px solid var(--black);
    margin: 3rem 3rem;
    box-shadow: var(--drop-shadow);
    padding: 0 1rem;
    display: flex;
    gap: 4rem;
  }

  .info-section div {
    margin: 1rem 0;
  }

  .info-section p {
    font-size: var(--xs);
  }

  .info-section a {
    text-decoration: none;
  }

  .info-section a:hover {
    text-decoration: underline;
  }

  /* Document page */
  .document-info {
    margin: 0 6rem;
  }

  .privacy {
    margin-bottom: 3rem;
  }

  .document-main section {
    padding: 1rem 7rem;
  }

  .document-main h1 {
    font-size: var(--l);
  }

  .document-main h2 {
    font-size: var(--s);
  }

  .updated {
    font-size: var(--xs);
  }

  .document-info p,
  .document-info li {
    font-size: var(--ss);
  }

  .document-info a {
    color: var(--white);
    font-weight: var(--bold);
  }

  .document-info a:hover {
    color: var(--green);
  }
}
