:root {
  /* Colors */
  --black: #000000;
  --white: #ffffff;
  --green: #8fff00;

  /* Shadows */
  --drop-shadow: 7px 7px black;
  --text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.36);
  --img-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  /* Font sizes */
  --l: 4.5rem;
  --m: 3rem;
  --s: 2.2rem;
  --ss: 1.5rem;
  --xs: 1.3rem;
  --xxs: 1.1rem;

  /* Font weights */
  --regular: 400;
  --med: 500;
  --bold: 700;
  --bolder: 900;

  /* Font family */
  --font: "Roboto", sans-serif;
}
