:root {
  /* Colors */
  --black: #000000;
  --white: #ffffff;
  --green: #8fff00;

  /* Shadows */
  --drop-shadow: 10px 10px black;
  --text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.36);
  --img-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  --btn-shadow: 7px 7px black;

  /* Font sizes */
  --xl: 5.6rem;
  --l: 4.5rem;
  --m: 3.6rem;
  --s: 2.2rem;
  --xs: 1.3rem;

  --mobile-l: 1.1rem;
  --mobile-m: 0.8rem;

  --footer: 1.1rem;

  /* Font weights */
  --regular: 400;
  --med: 500;
  --bold: 700;
  --bolder: 900;

  /* Font family */
  --font: "Roboto", sans-serif;
}
