@import url(-variables.css);
@import url(-header.css);
@import url(-footer.css);
@import url(-home-page.css);
@import url(-exhibitions-page.css);
@import url(-contribute-page.css);
@import url(-visit-page.css);

@import url(-media.css);

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  display: block;
  font-family: var(--font);
}

header,
footer {
  background-color: var(--black);
  color: var(--white);
}

header a,
footer a {
  text-decoration: none;
  color: inherit;
}

header a:after,
footer a:after {
  display: block;
  content: "";
  border-bottom: 1px solid var(--white);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
}

header a:hover:after,
footer a:hover:after {
  transform: scaleX(1);
}

.active {
  border-bottom: 1px solid var(--white);
}

p {
  line-height: 150%;
}

form {
  padding: 1rem 0.5rem;
}

form label,
form input[type="submit"] {
  display: block;
  margin: 0.5rem 0rem;
  font-size: var(--xs);
  font-weight: var(--bold);
  text-transform: uppercase;
  margin-top: 1rem;
}

form input[type="submit"] {
  cursor: pointer;
}

form input[type="submit"],
form textarea {
  font-family: var(--font);
}

form input,
form textarea {
  background-color: transparent;
  width: 300px;
  padding: 0.7rem 0.5rem;
  font-size: var(--xxs);
}
