@import url(-variables.css);
@import url(-header.css);
@import url(-footer.css);
@import url(-home-page.css);

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  display: block;
  font-family: var(--font);
  min-width: 1200px;
}

header,
footer {
  background-color: var(--black);
  color: var(--white);
}

header a,
footer a {
  text-decoration: none;
  color: inherit;
}

main img {
  width: 50%;
}
